<h1> Hello, <%=user.username%>! </h1>
<h3> <%=user.email%></h3>
<input type="hidden" id="current-user-id" value="<%=user.id%>">


<article id="category-selection">
  <!-- {{NOTE}} remember to insert listview here -->


  <!-- new category -->
  <form action="/users/<%=user.id%>/categories" method="POST">
    <input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
    <input type="text" name="name" placeholder="Category name">
    <input type="text" name="icon_image" placeholder="custom icon url">
    <input type="text" name="icon_color" placeholder="hexcode for icon">
    <button id="category-selection-button">New Category</button>
  </form>


</article>